.gallery_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-image * {
  /*border: 1px solid gray;*/
}

.gallery_items div {
  max-width: 25%;
  min-width: 280px;
  height: 200px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.gallery_items div:hover {
  opacity: 0.7;
}

.gallery_items div img {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.gallery_items div:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.modal-image {
  display: none;
  position: relative;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
}

.modal-image img {
  cursor: default;
}

.modal-content {
  margin: auto;
  display: block;
  /*width: 100%;*/
  max-height: 80vh;
  max-width: 1400px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {
    transform: scale(.9)
  }
  to {
    transform: scale(1)
  }
}

.close-modal {
  position: absolute;
  top: -12px;
  right: 0;
  color: #b1b1b1;
  font-size: 56px;
  padding: auto;
  font-weight: bold;
  transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.arrow-btn {
  width: 40px;
  font-size: 96px;
  padding: auto;
  color: #444;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .modal-content {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 95%;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
