<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG-CONSTRUCT</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="themify-icons/themify-icons.css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="ie7/ie7.css">
    <!--<![endif]-->
  </head>
  <body>
    <!-- Our partners -->
    <div class="dropdown-list partners-list">
      <div class="dropdown-select">
        <div class="dropdown-title">
          <span>Our partners</span>
          <div class="arrow"></div>
        </div>
        <div class="options">
          <a class="option" href="https://www.ceresit.com/en.html" target="blink">
          <img src="images/logos/partners/ceresit-logo.png" alt="ceresit">
          </a>
          <a class="option" href="https://www.knauf.com" target="blink">
          <img src="images/logos/partners/knauf-logo.png" alt="knauf">
          </a>
          <a class="option" href="https://www.alpina-farben.de" target="blink">
          <img src="images/logos/partners/alpina-farben-logo.png" alt="alpina farben">
          </a>
          <a class="option" href="https://www.doka.com"target="blink">
          <img src="images/logos/partners/doka-logo.png" alt="doka">
          </a>
        </div>
      </div>
    </div>
    <br>
    <!-- Select language -->
    <div class="dropdown-list available-languages">
      <div class="dropdown-select">
        <div class="dropdown-title">
          <span>EN</span>
          <div class="arrow"></div>
        </div>
        <div class="options">
          <span class="option selected">EN</span>
          <span class="option">NL</span>
          <span class="option">DE</span>
          <span class="option">FR</span>
        </div>
      </div>
    </div>
    <br>
    <!-- Separator -->
    <span class="separator"></span>
    <br>
    <!-- Contact -->
    <a class="topbar-contact-link" href="contact.html">Contact</a>
    <br>
    <br>
    <!-- Topbar -->
    <div class="topbar">
      <div class="flex-container">
        Our partners | Contact
      </div>
      <div class="flex-container">Language</div>
    </div>
    <br>
    <div class="topbar">
      <div class="flex-container">
        <div class="dropdown-list partners-list">
          <div class="dropdown-select">
            <div class="dropdown-title">
              <span>Our partners</span>
              <div class="arrow"></div>
            </div>
            <div class="options">
              <a class="option" href="https://www.ceresit.com/en.html" target="blink">
              <img src="images/logos/partners/ceresit-logo.png" alt="ceresit">
              </a>
              <a class="option" href="https://www.knauf.com" target="blink">
              <img src="images/logos/partners/knauf-logo.png" alt="knauf">
              </a>
              <a class="option" href="https://www.alpina-farben.de" target="blink">
              <img src="images/logos/partners/alpina-farben-logo.png" alt="alpina farben">
              </a>
              <a class="option" href="https://www.doka.com"target="blink">
              <img src="images/logos/partners/doka-logo.png" alt="doka">
              </a>
            </div>
          </div>
        </div>
        <span class="separator"></span>
        <a class="topbar-contact-link" href="contact.html">Contact</a>
      </div>
      <div class="flex-container">
        <div class="dropdown-list available-languages">
          <div class="dropdown-select">
            <div class="dropdown-title">
              <span>EN</span>
              <div class="arrow"></div>
            </div>
            <div class="options">
              <span class="option selected">EN</span>
              <span class="option">NL</span>
              <span class="option">DE</span>
              <span class="option">FR</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- Logo -->
    <div class="header-logo">
      <a class="link-to-home" href="index.html" title="GG-construst | Home page">
      <img src="images/logos/logo.png" alt="gg-construct logo">
      </a>
    </div>
    <br>
    <br>
    <!-- Topnav dropdown column  -->
    <nav style="position: relative">
      <ul style="visibility: visible; opacity: 1; left: 2px" class="topnav-dropdown-column">
        <li><a href="">Link link link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a class="more" href="">More...</a></li>
      </ul>
    </nav>
    <!-- Topnav menu -->
    <nav class="topnav" style="margin-top: 240px;">
      <ul>
        <li class="topnav-item">
          <a class="parent-link" href="">Parent link</a>
        </li>
        <li class="topnav-item parent">
          <a class="parent-link" href="">Parent link</a>
        </li>
        <li class="topnav-item">
          <a class="parent-link" href="">Parent link</a>
        </li>
        <li class="topnav-item">
          <a class="parent-link" href="">Parent link</a>
        </li>
      </ul>
    </nav>
    <!-- Topnav menu -->
    <nav class="topnav" style="margin-top: 100px; margin-bottom: 240px;">
      <ul>
        <li class="topnav-item">
          <a class="parent-link" href="">Parent link</a>
          <ul class="topnav-dropdown-column">
            <li><a href="">Long child link for testing</a></li>
            <li><a href="">Child link</a></li>
            <li><a href="">Child link</a></li>
            <li><a href="">Child link</a></li>
            <li><a href="">Child link</a></li>
            <li><a href="">Child link</a></li>
            <li><a class="more" href="">More...</a></li>
          </ul>
        </li>
        <li class="topnav-item parent">
          <a class="parent-link" href="">Parent link</a>
          <ul class="topnav-dropdown-column">
            <li><a href="">Link link link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a class="more" href="">More...</a></li>
          </ul>
        </li>
        <li class="topnav-item">
          <a class="parent-link" href="">Parent link</a>
          <ul class="topnav-dropdown-column">
            <li><a href="">Link link link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a class="more" href="">More...</a></li>
          </ul>
        </li>
        <li class="topnav-item">
          <a class="parent-link" href="">Parent link</a>
          <ul class="topnav-dropdown-column">
            <li><a href="">Link link link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a class="more" href="">More...</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="menuToggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
      <ul class="mobile-dropdown-column">
        <li><a href="">Mobile link</a></li>
        <li><a href="">Mobile link</a></li>
        <li><a href="">Mobile link</a></li>
        <li><a href="">Mobile link</a></li>
      </ul>
    </div>
    <a class="btn-default">Call us</a> <br><br>
    <!-- Search -->
    <div class="search">
      <input type="checkbox">
      <button class="btn-search">
        <img src="images/icons/search.svg" alt="search button">
      </button>
      <div class="search-modal">
        <div class="search_container">
          <div class="search_intro-placeholder">
            <div class="search_intro">
              What are you looking for?
            </div>
          </div>
          <form id="formMenuSearch" name="query" action="" method="GET">
            <div class="search_input">
              <div class="search-wrapper">
                <input type="search" class="search-box" placeholder="Plaster" autofocus>
              </div>
              <div class="search_submit">
                <button class="btn-default" type="submit">
                <img src="images/icons/loupe.svg" alt="search">
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="search_placeholder-suggestions">
          <div class="search_wrapper-suggestions">
            <span></span>
            <ul class="search_list-suggestions">
              <li>
                <a class="search_link" href="">Plaster</a>
                <span>|</span>
              </li>
              <li>
                <a class="search_link" href="">Ground</a>
                <span>|</span>
              </li>
              <li>
                <a class="search_link" href="">Walls</a>
                <span>|</span>
              </li>
              <li>
                <a class="search_link" href="">Paint</a>
                <span>|</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <nav class="footnav">
        <div class="footnav-column">
          <h4 class="column-title">Column 1</h4>
          <hr class="title-underline">
          <ul>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link1
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link2
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link3
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link4
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link5
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link6
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link7
              </a>
            </li>
          </ul>
        </div>
        <div class="footnav-column">
          <h4 class="column-title">Column 2</h4>
          <hr class="title-underline">
          <ul>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link1
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link2
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link3
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link4
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link5
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link6
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link7
              </a>
            </li>
          </ul>
        </div>
        <div class="footnav-column">
          <h4 class="column-title">Column 3</h4>
          <hr class="title-underline">
          <ul>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link1
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link2
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link3
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link4
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link5
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link6
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link7
              </a>
            </li>
          </ul>
        </div>
        <div class="footnav-column">
          <h4 class="column-title">Column 4</h4>
          <hr class="title-underline">
          <ul>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link1
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link2
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link3
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link4
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link5
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link6
              </a>
            </li>
            <li class="footnav-link-item">
              <a href="" target="_self">
              Link7
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
    <div class="basement">
      <div class="copyright">
        <span class="copyright-title">GG-CONSTRUCT 2021 ©</span>
        <ul class="items-list-inline">
          <li>
            <a href="" target="_self">
            <span>Privacy</span>
            </a>
          </li>
          <li>
            <a href="" target="_self">
            <span>Cookies</span>
            </a>
          </li>
          <li>
            <a href="" target="_self">
            <span>Item</span>
            </a>
          </li>
          <li>
            <a href="" target="_self">
            <span>Item</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="socials">
        <ul>
          <li><a class="ti-facebook" href="https://www.facebook.com/ggvloerbekleding.vloerbekleding"></a></li>
          <li><a class="ti-linkedin" href="https://linkedin.com"></a></li>
          <li><a class="ti-instagram" href="https://www.instagram.com/ggvloerbekleding"></a></li>
        </ul>
      </div>
    </div>
    <ul class="list-of-services">
      <li class="more">
        <a href="">Vloerder ( tegels, natuursteen, parket, vinyl, linolium, PU-vloeren …)</a>
      </li>
      <li class="more">
        <a href="">Dakwerken</a>
      </li>
      <li class="more">
        <a href="">Afbraak</a>
      </li>
      <li class="more">
        <a href="">Gyprocwerken</a>
      </li>
      <li class="more">
        <a href="">Pleisterwerken</a>
      </li>
      <li class="more">
        <a href="">
        ...
        </a>
      </li>
    </ul>
    <div class="card bg-beige">
      <div class="card-top beige">
        <div class="card-title title">Title</div>
      </div>
      <div class="card-bottom">
        <div class="card-image">
          <img src="images/test-image.jpg" alt="test-image">
        </div>
      </div>
    </div>
    <div class="card bg-blue">
      <div class="card-top blue">
        <div class="card-title title">Title</div>
      </div>
      <div class="card-bottom">
        <div class="card-image">
          <img src="images/test-image.jpg" alt="test-image">
        </div>
      </div>
    </div>
    <h2 class="title">Title</h2>
    <hr class="underline">
    <hr class="underline bg-blue">
    <article class="info-block">
      <div class="info-block-heading">
        <h2 class="title">Title</h2>
        <hr class="underline bg-blue">
      </div>
      <div class="info-block-content"></div>
    </article>

    <article class="info-block">
      <div class="info-block-heading">
        <h2 class="title">Title</h2>
        <hr class="underline bg-blue">
      </div>
      <div class="info-block-content">
        <div class="cards servise-cards">
          <div class="card bg-beige">
            <div class="card-top beige">
              <div class="card-title title">Title</div>
            </div>
            <div class="card-bottom">
              <div class="card-image">
                <img src="images/test-image.jpg" alt="test-image">
              </div>
            </div>
          </div>
          <div class="card bg-blue">
            <div class="card-top blue">
              <div class="card-title title">Title</div>
            </div>
            <div class="card-bottom">
              <div class="card-image">
                <img src="images/test-image.jpg" alt="test-image">
              </div>
            </div>
          </div>
          <div class="card bg-beige">
            <div class="card-top beige">
              <div class="card-title title">Title</div>
            </div>
            <div class="card-bottom">
              <div class="card-image">
                <img src="images/test-image.jpg" alt="test-image">
              </div>
            </div>
          </div>
          <div class="card bg-beige">
            <div class="card-top beige">
              <div class="card-title title">Title</div>
            </div>
            <div class="card-bottom">
              <div class="card-image">
                <img src="images/test-image.jpg" alt="test-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <div class="box">
      <div class="box-heading">
        <h3 class="box-title">Title</h3>
      </div>
      <div class="box-content">
        <ul>
          <li>Aliquam tincidunt mauris eu risus.</li>
          <li>Vestibulum auctor dapibus neque.</li>
          <li>Nunc dignissim risus id metus.</li>
        </ul>
      </div>
      <div class="box-footer">
        <button>Button</button>
      </div>
    </div>
<!-- Fusce pellentesque suscipit nibh.
Integer vitae libero ac risus egestas placerat.
Vestibulum commodo felis quis tortor.
Ut aliquam sollicitudin leo.
Cras iaculis ultricies nulla. -->
    <div class="box box-active">
      <div class="box-heading">
        <h3 class="box-title">Title</h3>
      </div>
      <div class="box-content">
        <ul>
          <li>Cras ornare tristique elit.</li>
          <li>Vivamus vestibulum ntulla nec ante.</li>
          <li>Praesent placerat risus quis eros.</li>
        </ul>
      </div>
      <div class="box-footer">
        <button>Button</button>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax-content">
        <h2>Title</h2>
        <hr>
        <p>
        Wherein fourth own. Heaven third creepeth shall waters of whales. Fruit replenish have Yielding saw fly abundantly after without two and lights may fourth was stars Under saw subdue seas you, above meat have whose appear. Living.<br>
        </p>
        <button class="button button-reveal">
        <i class="icon icon_arrow-right">
        <strong class="arrow-right"></strong>
        </i>
        <span>Some action</span>                
        </button>
      </div>
    </div>
    <div class="circle"></div>
    <div class="circles">
      <div class="circle-container">
        <div class="circle"></div>
        <div class="circle-name">Item</div>
      </div>
    </div>

    <div class="titlebar">
      <span class="titlebar-path">
      <a href="/">Home</a> ›
      <a href="">Path</a> ›
      <a href="">Item</a> ›
      </span>
      <div class="titlebar-title">
        <h1>Title</h1>
      </div>
    </div>

    <div class="contact-widget">
      <input type="checkbox" class="contact-widget-input">
      <button class="contact-widget-btn">
      </button>
      <div class="contact-widget-container">
        <ul class="items-of-contact">
          <li class="item-phone">
            <a href="">
            <img src="images/icons/call.svg" alt="phone call us">
            </a>
          </li>
          <li class="item-mail">
            <a href="">
            <img src="images/icons/envelope.svg" alt="send a mail">
            </a>
          </li>
          <li class="item-form">
            <a href="">
            <img src="images/icons/bullet-form.svg" alt="fill in the form">
            </a>
          </li>
        </ul>
      </div>
      <div class="chat-to">
        <p>Contact us</p>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
